{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Connexion</h1>
            {% if error %} }}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData,'security') }}
                </div>
            {% endif %}
            {{ form_start(form) }}
            {{ form_row(form._username, {
                'label' : 'Email'
            }) }}
            {{ form_row(form._password, {
                'label' : 'Mot de passe'
            }) }}
            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <button type="submit" class="btn btn-warning"><i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter</button>
            <div class="visible-xs">
                <br/>
            </div>
            <button type="button" class="btn btn-primary">
                <i class="fa fa-facebook" aria-hidden="true" style="color:#fff;"></i>
                <a href="{{ path('login_facebook') }}"> Se connecter via
                    Facebook</a>
            </button>
            {{ form_end(form) }}
            <br/>
            <a href="{{ path('forgotten_password') }}" class="color__lightgrey">Mot de passe oublié ?</a>
        </div>
    </div>
{% endblock %}