{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Réinitialisez votre mot de passe</h1>
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, {
                    'label' : 'Nouveau mot de passe'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label' : 'Retapez le mot de passe'
                }) }}
                {{ form_row(form.resetId) }}
                <button type="submit" class="btn btn-warning" formnovalidate>Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}