{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endfor %}
            <h1>Administration</h1>
            <div class="admin-options">
                <p class="admin-options__option"><span class="admin-options__arrow">&rarr;</span><a href="{{ path('admin_create_article') }}"> Créer un nouvel article</a></p>
                <p class="admin-options__option"><span class="admin-options__arrow" >&rarr;</span><a href="{{ path('admin_show_articles') }}"> Modifier les articles</a></p>
                <p class="admin-options__option"><span class="admin-options__arrow" >&rarr;</span><a href="#"> Gérer les commentaires</a></p>
            </div>
        </div>
    </div>
{% endblock %}