{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h1>Nouveaux commentaires</h1>
            {% for commentaire in commentaires %}
                <div class="margin-top__comments">
                    <p> {% if commentaire.flagged %}
                            <span class="color__lightyellow">
                           {{ (commentaire.countIsFlagged > 1) ? '(Commentaire signalé ' ~ commentaire.countIsFlagged ~ ' fois)' : '(Commentaire signalé)'}}
                                </span>
                        {% endif %}
                        {{ commentaire.user.username }} a écrit dans <a class="color__yellow"
                                    href="{{ path('show_article', {'slug' : commentaire.article.slug}) }}">{{ commentaire.article.titre }}</a><br/>
                        <div class="buttons-margin"><span class="color__lightgrey">{{ commentaire.contenu }}</span></div>
                        <div class="buttons-margin">
                            {% if commentaire.flagged %}
                                <a href="{{ path('admin_reset_comment_status', {'id' : commentaire.id}) }}" class="btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i>Enlever le signalement</a>
                                <div class="visible-xs buttons-margin__comments"></div>
                            {% endif %}
                            <a href="{{ path('admin_delete_comment', {'id' : commentaire.id}) }}" class="btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Supprimer le commentaire</a>
                        </div>
                    </p>
                </div>
            {% endfor %}
            <div class="margin-top">
                {% if data.currentPage <= data.nbPages and data.currentPage != 0 %}
                    <a href="{{ path('admin_show_comments', {'page' : (data.currentPage)-1  }) }}" class="color__yellow" style="margin-right:20px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Page précédente</a>
                {% endif %}
                {% if (data.currentPage)+1 != data.nbPages and data.nbPages != 0 %}
                    <a href="{{ path('admin_show_comments', {'page' : (data.currentPage)+1 }) }}" class="color__yellow"><i class="fa fa-arrow-right" aria-hidden="true"></i> Page suivante</a>
                {% endif %}
            </div>
            <div class="margin-top">
                <a href="{{ path('admin_home') }}"><span aria-hidden="true">&larr;</span> Retourner à la page d'administration</a>
            </div>
        </div>
    </div>
{% endblock %}
