{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            {% for msg in app.session.flashBag.get('warning') %}
                 <div class="alert alert-danger">
                     {{ msg }}
                 </div>
            {% endfor %}
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endfor %}
            {% for article in articles %}
                <div class="col-xs-12">
                    <div class="article__title">
                        <h1><a href="{{ path('show_article', {'slug' : article.slug }) }}">{{ article.titre }}</a></h1>
                        <p class="color__grey">Posté le {{ article.datePublication|date('d-m-Y') }}&nbsp;<a href="{{ path('show_article', {'slug' : article.slug }) }}"><span class="color__yellow article_comments--link">{{ (article.commentaires|length > 1) ? article.commentaires|length ~ ' commentaires' : article.commentaires|length ~ ' commentaire'  }}
                                </span></a></p>
                        <div class="article__excerpt">
                            <p>{{ article.excerpt }}</p>
                        </div>
                        <div class="col-xs-6 padding-none article__link">
                            <a href="{{ path('show_article', {'slug' : article.slug }) }}" class="btn btn-warning">Lire la suite</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="margin-top">
                {% if data.currentPage <= data.nbPages and data.currentPage != 0 %}
                    <a href="{{ path('homepage', {'page' : (data.currentPage)-1  }) }}" class="color__yellow" style="margin-right:20px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> Page précédente</a>
                {% endif %}
                {% if (data.currentPage)+1 != data.nbPages and data.nbPages != 0 %}
                    <a href="{{ path('homepage', {'page' : (data.currentPage)+1 }) }}" class="color__yellow"><i class="fa fa-arrow-right" aria-hidden="true"></i> Page suivante</a>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 author-info">
            <h3 class="text-center"><span class="color__lightgrey">Jean&nbsp;</span><span class="color__white">Forteroche</span></h3>
            <img src="{{ asset('img/author.jpeg') }}" alt="Jean Forteroche" class="author-info__image img-responsive center-block">
            <p class="color__lightgrey text-center">
                <a href="{{ path('about') }}" class="author-info__link">Acteur. Ecrivain.</a><br/>
                Je publie mon nouveau roman <span class="color__white">Billet simple pour l'Alaska</span> en ligne, épisode par épisode.
            </p>
        </div>
    </div>
{% endblock %}
