{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>Résultats de la recherche <span class="color__lightgrey">({{ nbArticles }} trouvés)</span></h1>
            {% for article in articles %}
                <div class="margin-top">
                    <h2 class="color__yellow"><a href="{{ path('show_article', {'slug' : article.slug}) }}" class="color__yellow">{{ article.titre }}</a></h2>
                    <h4 class="color__grey">Date publication : {{ article.datePublication|date('d-m-Y') }}</h4>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="article__link">
                        <a href="{{ path('admin_modify_article', {'id' : article.id }) }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier l'article </a>
                        <div class="visible-xs buttons-margin"></div>
                        <a href="{{ path('admin_delete_article', {'id' : article.id }) }}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Supprimer l'article </a>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}