{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 ">
            {% for msg in app.session.flashBag.get('success') %}
                <div class="alert alert-warning">
                    {{ msg }}
                </div>
            {% endfor %}
            <h1>{{ article.titre }}</h1>
            <div class="color__lightgrey">
                {{ article.contenu|outputHtml }}
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_modify_article', {'id' : article.id}) }}" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</a>
            {% endif %}
            <h2>Commentaires</h2>
            {% if article.commentaires|length == 0 %}
                <span class="color__grey">Pas de commentaires pour l'instant.</span><div class="visible-xs"><br/></div>
            {% endif %}
                <a href="{{ path('new_comment', {'slug' : article.slug }) }}" class="color__yellow"> Poster un commentaire</a>

            {% macro recursiveComment(commentaire) %}
                <div class="comments">
                {% import _self as self %}
                    {% if commentaire.user.photo != null %}
                        <img src="{{ asset(commentaire.user.imgPath ~ commentaire.user.photo.filename) }}" alt="" class="img-responsive img-circle pull-left comments__photo">
                    {% endif %}
                    <p class="color__yellow">{{ commentaire.user.username }}</p>
                    <p class="color__lightgrey">{{ commentaire.contenu|outputHtml }}                    {% if is_granted('ROLE_USER') %}
                            <span class="pull-right user-actions">
                            {% if commentaire.lvl != 3 %}
                                <a href="{{ path('answer_comment', {'id' : commentaire.id }) }}"> Répondre |</a>
                            {% endif %}
                                <a href="{{ path('report_comment', {'id' : commentaire.id}) }}"> Signaler</a>
                             {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('admin_delete_comment', {'id' : commentaire.id}) }}" class="color__yellow">&nbsp;<i class="fa fa-times" aria-hidden="true"></i> Supprimer</a>
                             {% endif %}
                        </span>
                        {% endif %}</p>
                    {% for child in commentaire.children %}
                        {% if child.lvl <= 3 %}
                            {{ self.recursiveComment(child) }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endmacro %}

            {% from _self import recursiveComment %}

           <div class="margin-top">
               {% for commentaire in article.commentaires %}
                   {% if commentaire.parent == null %}
                    {{ recursiveComment(commentaire) }}
                   {% endif %}
               {% endfor %}
           </div>
            <div class="visible-xs"><br/></div>
            <div class="margin-top">
                <a href="{{ path('homepage') }}">&larr; Retourner à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/show_article.js') }}"></script>
{% endblock %}